include ../heading/heading.pug
include ../button/button.pug
include ../text-field/text-field.pug
include ../avatar/avatar.pug

mixin mod-pass-card(params = {})
  -
    const {
      title="",
      formMethod="",
      formAction="",
      textField={},
      button={},
      avatar={},
    } = params

  .mod-pass-card
    .mod-pass-card__title
      form(
        class="mod-pass-card__form"
        method=`${formMethod}`,
        action=`./${formAction}.html`
      )
        section.mod-pass-card__details
          +text-field(textField.passwordOld)
          +text-field(textField.passwordNew)
          +text-field(textField.passwordNewAgain)
          +button(button.savePassword)

