include ../heading/heading.pug
include ../button/button.pug
include ../text-field/text-field.pug

mixin mod-avatar-card(params = {})
  -
    const {
      title="",
      formMethod="",
      formAction="",
      textField={},
      button={}
    } = params

  .mod-avatar-card
    .mod-avatar-card__title
      +heading({title: title, level: "h3"})
      form(
        class="mod-avatar-card__form"
        method=`${formMethod}`,
        action=`./${formAction}.html`
      )
        //- .mod-avatar-card__text Выберите файл с компьютера
        +text-field(textField.newAvatar)
        +button(button.changeAvatar)