label(for=idInput class="input-label") #{textLabel}
    if isDisabled === true
        input(class=inputClass type=inputType name=inputName placeholder=inputPlaceholder id=idInput value=inputValue disabled)
    else
        input(class=inputClass type=inputType name=inputName placeholder=inputPlaceholder id=idInput value=inputValue)
    p(class="input-error" style="display: none" id=idInput) #{errorText}