mixin avatar(params = {})
  -
    const {
      img="",
      name="",
      inProfile="",
    } = params

    const sizeMod = inProfile ? "avatar__img_big" : "avatar__img_small"

  .avatar
    .avatar__container
      a.avatar__avatar(href="/#!")
        img&attributes({
          class: ["avatar__img", sizeMod],
          src: (`../../components/avatar/${img}.jpg`),
          alt: "avatar",
        })
        if inProfile
          .avatar__mask Изменить аватар
      .avatar__description
        .avatar__name #{name}