mixin text-field(params = {})

  -
    const {
      type="",
      placeholder="",
      name="text-field",
      autocomplete="off",
      withSpellcheck=false,
    } = params

    const mainClass = "text-field__input"

    const inputAttributes = {
      class: [
        mainClass,
        inputPointerTypeClass
      ],
      type: type,
      name: name,
      autocomplete: autocomplete,
      placeholder: placeholder,
      spellcheck: withSpellcheck,
    }

  .text-field
    label(for=inputAttributes.name)
      input&attributes(inputAttributes)